language: python

python:
  - "2.7"
  - "3.5"
  - "3.6"

addons:
  postgresql: '9.4'

before_script:
  - psql -U postgres -c "create user test with superuser password 'test';"
  - psql -U postgres -c "create database automated_test with owner test;"

install:
  - pip install -r requirements.txt
  - pip install -r dev-requirements.txt

script:
  - "python -m pytest -vvs"